body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#historial-clientes {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista-clientes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cliente {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.cliente:last-child {
    border-bottom: none;
}

.cliente span {
    display: block;
    margin-bottom: 10px;
}

.cliente span.label {
    font-weight: bold;
    margin-right: 10px;
}

.cliente button.eliminar {
    float: right;
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cliente button.eliminar:hover {
    background-color: #c0392b;
}